/*** BUTTONS ***/

button.btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--btnBgColor);
    color: var(--btnColor);
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    text-align: center;
    margin: 4px;
}

button.btn.secondary, button.btn.disabled {
    background: var(--grey);
    color: var(--lightGrey);
}

button.btn.small {
    height: 80px !important;
    font-size: 20px !important;
    line-height: 1.25;
}

button.btn.large {
    height: 160px !important;
    font-size: 50px !important;
    line-height: 1.15;
}

button.btn.primary {
    font-weight: bold;
}

button.btn.box {
    font-size: 20px;
    line-height: 1.25;
}

button.btn.box.dark {
    background: var(--bgDark);
    color: var(--inputBackgroundColor);
    width: 260px;
    height: 260px;
}

button.btn.box.light {
    background: var(--bg);
    color: var(--color);
    width: 170px;
    height: 170px;
}

button.btn.box.light.selected, button.btn.box.dark.selected, button.btn:hover, button.btn:active, button.btn.box.light:hover, button.btn.box.light:active, button.btn.box.dark:hover, button.btn.box.dark:active {
    background: var(--btnBgColor);
    color: var(--btnColor);
}
/*** END BUTTONS ***/