@import-normalize; /* bring in normalize.css styles */
/* rest of app styles */
* {
  box-sizing: border-box;
}

*:focus {
  outline-offset: 2px;
  outline: 2px solid var(--hoverAccent);
}

html {
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  margin-top: 80px; /* Fixed Header */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--accent);
  margin: 0 4px;
}

div.site-content {
  width: 100%;
  height: auto;
  background-color: var(--bg);
  color: var(--color);
}

div.site-content.secondary {
  background-color: var(--bgSecondary);
  color: var(--colorSecondary);
}

/** THEME VARIABLES **/

body.light {
  --bg: #f0eae4;
  --bgDark: #505050;
  --bgSecondary: #71706E;
  --bgAccent: #78c3de;
  --bgDarkHover: black;
  --btnColor: #fff;
  --btnBgColor: #78c3de;
  --btnHoverColor: #eee;
  --btnHoverBgColor: #39a7cf;
  --btnBorderColor: #f0eae4;
  --inputBackgroundColor: #f0eae4;
  --inputBorderColor: #fff;
  --inputBorderRadius: 2px;
  --inputBorderWidth: 5px;
  --inputColor: #505050;
  --inputHoverBorderColor: #fff;
  --inputHoverBorderWidth: 5px;
  --inputHoverBoxShadow: inset 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px #747474;
  --inputHoverBackgroundColor: #fff;
  --inputErrorColor: #ef7862;
  --inputSuccessColor: #81D86C;
  --inputStatusBorderWidth: 5px;
  --inputPlaceholderColor: #969696;
  --labelColor: #969696;
  --labelFontWeight: 600;
  --labelOpacity: 1;
  --labelTextTransform: none;
  --rgb: 0;
  --a: 2;
  --color: #505050;
  --colorSecondary: #CDCDCC;
  --accent: #78c3de;
  --hoverAccent: #39a7cf;
  --darkGrey: #505050;
  --grey: #969696;
  --lightGrey: #C7C7C7;
  --red: #ef7862;
  --green: #81D86C;
  --white: #f0eae4;
}

body.dark {

  --bg: #241c14;
  --bgDark: #171717;
  --bgSecondary: #82765d;
  --bgAccent: #98b4be;
  --bgDarkHover: grey;
  --btnColor: #eee;
  --btnBgColor: #98b4be;
  --btnHoverColor: #333;
  --btnHoverBgColor: #80a2af;
  --btnBorderColor: #eeeae6;
  --inputBackgroundColor: #d0d0d0;
  --inputBorderColor: #eee;
  --inputBorderRadius: 2px;
  --inputBorderWidth: 5px;
  --inputColor: #1e1e1e;
  --inputHoverBorderColor: #999;
  --inputHoverBorderWidth: 5px;
  --inputHoverBoxShadow: inset 1px 1px rgba(255, 255, 255, 0.0375),
    0 0 8px #919191;
  --inputHoverBackgroundColor: #eeeae6;
  --inputErrorColor: #925e68;
  --inputErrorBorderWidth: 5px;
  --inputPlaceholderColor: #333;
  --labelColor: #d0d0d0;
  --labelFontWeight: 600;
  --labelOpacity: 1;
  --labelTextTransform: none;
  --rgb: 255;
  --a: 1;
  --color: #d0d0d0;
  --colorSecondary: #d5d5c4;
  --accent: #98b4be;
  --hoverAccent: #6891a0;
  --grey: #747474;
  --lightGrey: #969696;
  --darkGrey: #d0d0d0;
  --red: #ba9d97;
  --green: #97b490;
  --white: #eeeae6;
}

/*** END THEME VARIABLES ***/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--grey);
  transition: color 250ms ease-in-out;
}

a {
  color: var(--accent);
  transition: color 250ms ease-in-out;
}
a:hover {
  color: var(--hoverAccent);
}

[role="button"] {
  cursor: pointer;
}

form {
  width: 100%;
}

label {
  box-sizing: border-box;
  color: var(--labelColor);
  font-size: 16px;
  font-weight: var(--labelFontWeight);
  margin-bottom: 0;
  letter-spacing: 0.3px;
  position: absolute;
  opacity: var(--labelOpacity);
  bottom: calc(100% - 4px);
  left: 5px;
  transition: opacity 150ms ease-in-out;
  text-transform: var(--labelTextTransform);
}
label span {
  position: absolute;
  top: -1px;
  color: var(--labelColor);
}

/**** GRABATIX LOGO SVG STYLES ****/
.logo-1 {
  font-size : 60px;
  fill: #231f20;
  font-family: HandelGotD-Bol, Handel Gothic D;
}
.logo-2 {
  letter-spacing:-0.013em;
}
.logo-3 {
  letter-spacing: -0.011em;
}
.logo-4 {
  letter-spacing:-0.005em;
}
/*********************************/

/******** UTILITY CLASSES ********/
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 1rem;;
  margin-right: 1rem;;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 1rem;;
  padding-right: 1rem;;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

/*********************************/