body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--accent);
}

div.site-content {
  width: 100%;
  height: auto;
  background-color: var(--bg);
  color: var(--color);
}

div.site-content.secondary {
  background-color: var(--bgSecondary);
  color: var(--colorSecondary);
}

body.light {
  --bg: #f0eae4;
  --bgDark: #505050;
  --bgSecondary: #71706E;
  --bgAccent: #78c3de;
  --bgDarkHover: black;
  --btnColor: #fff;
  --btnBgColor: #78c3de;
  --btnHoverColor: #eee;
  --btnHoverBgColor: #39a7cf;
  --btnBorderColor: #f0eae4;
  --inputBackgroundColor: #f0eae4;
  --inputBorderColor: #fff;
  --inputBorderRadius: 4px;
  --inputBorderWidth: 5px;
  --inputColor: #505050;
  --inputHoverBorderColor: #fff;
  --inputHoverBorderWidth: 5px;
  --inputHoverBoxShadow: inset 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px #747474;
  --inputHoverBackgroundColor: #fff;
  --inputErrorColor: #ef7862;
  --inputSuccessColor: #81D86C;
  --inputStatusBorderWidth: 5px;
  --inputPlaceholderColor: #969696;
  --labelColor: #969696;
  --labelFontWeight: 600;
  --labelOpacity: 1;
  --labelTextTransform: none;
  --rgb: 0;
  --a: 2;
  --color: #505050;
  --colorSecondary: #CDCDCC;
  --accent: #78c3de;
  --hoverAccent: #39a7cf;
  --darkGrey: #505050;
  --grey: #969696;
  --lightGrey: #C7C7C7;
  --red: #ef7862;
  --green: #81D86C;
}

body.dark {

  --bg: #241c14;
  --bgDark: #171717;
  --bgSecondary: #82765d;
  --bgAccent: #98b4be;
  --bgDarkHover: grey;
  --btnColor: #eee;
  --btnBgColor: #98b4be;
  --btnHoverColor: #333;
  --btnHoverBgColor: #80a2af;
  --btnBorderColor: #eeeae6;
  --inputBackgroundColor: #eeeae6;
  --inputBorderColor: #eee;
  --inputBorderRadius: 4px;
  --inputBorderWidth: 5px;
  --inputColor: #d0d0d0;
  --inputHoverBorderColor: #999;
  --inputHoverBorderWidth: 5px;
  --inputHoverBoxShadow: inset 1px 1px rgba(255, 255, 255, 0.0375),
    0 0 8px #919191;
  --inputHoverBackgroundColor: #1e1e1e;
  --inputErrorColor: #925e68;
  --inputErrorBorderWidth: 5px;
  --inputPlaceholderColor: #747474;
  --labelColor: #747474;
  --labelFontWeight: 600;
  --labelOpacity: 1;
  --labelTextTransform: none;
  --rgb: 255;
  --a: 1;
  --color: #d0d0d0;
  --colorSecondary: #d5d5c4;
  --accent: #98b4be;
  --hoverAccent: #6891a0;
  --grey: #747474;
  --lightGrey: #969696;
  --darkGrey: #d0d0d0;
  --red: #ba9d97;
  --green: #97b490;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--grey);
  transition: color 250ms ease-in-out;
}

a {
  color: var(--accent);
  transition: color 250ms ease-in-out;
}
a:hover {
  color: var(--hoverAccent);
}

button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--btnBgColor);
  color: var(--btnColor);
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  text-align: center;
  margin: 2px;
}

.dark-switcher {
  width:20px;
  height:20px;
  font-size:20px;
  margin: 2px;
}

button:focus, a:focus, .dark-switcher:focus, input:focus, select:focus, textarea:focus {
  outline-offset: 2px;
  outline: 2px solid var(--hoverAccent);
}

button.secondary, button.disabled {
  background: var(--grey);
  color: var(--lightGrey);
}

button.small {
  height: 80px;
  font-size: 20px;
  line-height: 1.25;
}

button.large {
  height: 160px;
  font-size: 50px;
  line-height: 1.15;
}

button.primary {
  font-weight: bold;
}

button.box {
  font-size: 20px;
  line-height: 1.25;
}

button.box.dark {
  background: var(--bgDark);
  color: var(--inputBackgroundColor);
  width: 260px;
  height: 260px;
}

button.box.light {
  background: var(--bg);
  color: var(--bgDark);
  width: 170px;
  height: 170px;
}

button.box.light.selected, button.box.dark.selected, button:hover, button:active, button.box.light:hover, button.box.light:active, button.box.dark:hover, button.box.dark:active {
  background: var(--btnBgColor);
  color: var(--btnColor);
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  flex: 1 1 auto;
  width: 0;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}
.form-group--quantity {
  width: 200px;
  flex: 0 0 200px;
  box-sizing: border-box;
}

.form-group--full {
  max-width: 100%;
}
.form-group--half {
  width: 50%;
}
.form-group--Zip {
  width: 160px;
  flex: 0 0 160px;
  box-sizing: border-box;
}
.form-group--ccNumber > input {
  text-align: left;
}
.form-group--cvnCode {
  width: 80px;
  flex: 0 0 80px;
  box-sizing: border-box;
}
.form-group--cvnCode + div.cvn-code-info {
  display: block;
  align-self: center;
}
.form-group--cvnCode + div.cvn-code-info > a {
  color: #444;
  transition: color 200ms ease-in-out;
}
.form-group--cvnCode + div.cvn-code-info > a:hover,
.form-group--cvnCode + div.cvn-code-info > a:active,
.form-group--cvnCode + div.cvn-code-info > a:focus {
  color: #747474;
}
label {
  box-sizing: border-box;
  color: var(--labelColor);
  font-size: 16px;
  font-weight: var(--labelFontWeight);
  margin-bottom: 0;
  letter-spacing: 0.3px;
  position: absolute;
  opacity: var(--labelOpacity);
  bottom: calc(100% - 4px);
  left: 3px;
  transition: opacity 150ms ease-in-out;
  text-transform: var(--labelTextTransform);
}
label span {
  position: absolute;
  top: -1px;
  color: var(--labelColor);
}
input,
select,
textarea {
  box-sizing: border-box;
  color: var(--inputColor);
  font-size: 19px;
  font-weight: 600;
  height: 80px;
  display: block;
  width: 100%;
  margin:2px;
  padding: 0 10px;
  line-height: 80px !important;
  background: none;
  background-color: var(--inputBackgroundColor);
  border:none;
  border-radius: var(--inputBorderRadius);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  position: relative;
}
textarea {
  height: auto;
  min-height: 150px;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  font-weight: 600;
  color: var(--inputPlaceholderColor);
}
input:active,
input:hover,
input:focus,
select:active,
select:hover,
select:focus,
textarea:active,
textarea:hover,
textarea:focus {
  box-shadow: var(--inputHoverBoxShadow);
  background-color: var(--inputHoverBackgroundColor);
}
input:disabled,
select:disabled,
textarea:disabled {
  background: var(--grey);
  color: var(--lightGrey);
  cursor: not-allowed;
}
input:disabled::placeholder,select:disabled::placeholder,
textarea:disabled::placeholder {
  color: var(--lightGrey);
}
input:after, select:after, textarea:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: transparent;
  transition: background-color 250ms ease-in-out;
}
input.error:after, input:invalid:after,
select.error:after, select:invalid:after,
textarea.error:after, textarea:invalid:after {
  background-color: var(--inputErrorColor);
}
input.validated, select.validated, textarea.validated{
  background-color: var(--green);
}
@media screen and (max-width: 613px) {
  .form-group--Lastname {
    flex-basis: calc(100% - 130px);
    margin-left: 0;
  }
  .form-group--Middlename {
    width: 100%;
    margin-left: 0;
  }
  .form-group--Firstname {
    flex-basis: calc(100% - 130px);
  }
  .form-group--City {
    width: 100%;
  }
  .form-group--State {
    width: 0;
    flex: 1 1 80px;
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .form-group--Phone,
  .form-group--Email {
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .form-group--State,
  .form-group--Zip {
    max-width: 100%;
    width: 100%;
    flex-basis: auto;
  }
  .form-group--Firstname,
  .form-group--Lastname {
    width: 100%;
    flex-basis: auto;
  }
  .form-group--Title {
    width: 130px;
    flex-basis: 130px;
  }
}
@media screen and (max-width: 365px) {
  .form-group--Zip,
  .form-group--Country {
    max-width: 100%;
    width: 100%;
  }
}

